body{
 font-family: "Montserrat", sans-serif;
 font-optical-sizing: auto;
 font-weight: 500;
 font-style: normal;
 color: black;
 overflow-x: hidden;
}

.nav-link{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  color: white;
  text-decoration: none;
  border: solid white 2px;
  border-radius: 4px;
  transition: 0.5s ease-in-out;
}

li{
  text-decoration: none;
  list-style: none;
  padding: 3px;
  font-size: 14px;
  background-color: #333;
  border-radius: 8px;
}

.navbar-content ul{
  background-color: gray;
  height: 10vh;
}

#nav-ul{
  position: sticky;
  top: 0;
}

.text{
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid gray;
  border-radius: 8px;
  width: 100vh;
  height: auto;
  margin: auto;
  margin-top: 150px;
}

.nav-logo{
  width:auto;
  height: 5vh;
  border: solid #333;
  border-radius: 50%;
  padding: 6px;
  background-color: rgb(233, 233, 233);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
}

.sidebar {
  width: 20%;
  height: 100vh;
  background-color: #444;
  color: white;
  position: fixed;
  left: -1000px;
  top: 0;
  padding: 20px;
  transition: left 0.3s ease-in-out;
  border-radius: 6px;
  z-index: 1;
}

.sidebar, .ul-1 {
  list-style: none;
  padding: 0;
 
}

.sidebar, .ul-1, li {
  margin: 20px 0;
}

.sidebar .ul-1 li a {
  color: white;
  text-decoration: none;
}

.sidebar-btn{
  background-color: #333;
  border: solid white 2px;
  border-radius: 8px;
  width: 100%;
  height: auto;
  font-size: 25px;
  color: white;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sidebar-ul{
  padding: 3px;
  margin-left: 18px;
}

.sidebar-li{
  border: solid white 2px;
  border-radius: 8px;
  padding: 6px;
  background-color: #333;
  width: 60%;
}

html {
  scroll-behavior: smooth;
}

.nav-link.active{
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.2em;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease-in-out;
  background-color: rgba(75, 75, 75, 0.8);
}

.nav-link.active::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: rgb(175, 175, 175);
  animation: underline-expand 0.5s ease-in-out forwards;
  border-radius: 8px;
}

@keyframes underline-expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.sidebar-btn.active {
  justify-content: center;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
  background-color: rgba(75, 75, 75, 0.8);
  color: white;
  font-size: 2em;
  width: 120%;
  height: auto;
  transition: all 0.5s ease-in-out;
}

.working-img{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 150px;
}

footer{
  background-color: gray;
  height: 10vh;
  margin-top: 150px;
  box-shadow: 2px 2px 3px;
}

.footer-text{
  padding: 12px;
  display: grid;
  justify-content: center;
  color: white;
}