body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  overflow-x: hidden;
}

.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    color: white;
    text-decoration: none;
    border: solid white 2px;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 3px;
    font-size: 14px;
    background-color: #333;
    border-radius: 8px;
}

.navbar-content ul{
    background-color: gray;
    height: 10vh;
}

#nav-ul{
    position: sticky;
    top: 0;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid gray;
    border-radius: 8px;
    width: 100vw;
    height: auto;
    margin: auto;
    margin-top: 150px;
}

.nav-logo{
    width:auto;
    height: 5vh;
    border: solid #333;
    border-radius: 50%;
    padding: 6px;
    background-color: rgb(233, 233, 233);
    box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.8);
}

.sidebar {
    width: 20%;
    height: 100vh;
    background-color: #444;
    color: white;
    position: fixed;
    left: -1000px;
    top: 0;
    padding: 20px;
    transition: left 0.3s ease-in-out;
    border-radius: 6px;
    z-index: 1;
}

.sidebar, .ul-1 {
    list-style: none;
    padding: 0;
   
}

.sidebar, .ul-1, li {
    margin: 20px 0;
}

.sidebar .ul-1 li a {
    color: white;
    text-decoration: none;
}

.sidebar-btn{
    background-color: #333;
    border: solid white 2px;
    border-radius: 8px;
    width: 100%;
    height: auto;
    font-size: 25px;
    color: white;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.sidebar-ul{
    padding: 3px;
    margin-left: 18px;
}

.sidebar-li{
    border: solid white 2px;
    border-radius: 8px;
    padding: 6px;
    background-color: #333;
    width: 11vw;
    
}

html {
    scroll-behavior: smooth;
}

.nav-link.active{
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 1.2em;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-in-out;
    background-color: rgba(75, 75, 75, 0.8);
}

.nav-link.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 3px;
    background-color: rgb(175, 175, 175);
    animation: underline-expand 0.5s ease-in-out forwards;
    border-radius: 8px;
}

@keyframes underline-expand {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

.sidebar-btn.active {
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    background-color: rgba(75, 75, 75, 0.8);
    color: white;
    font-size: 2em;
    width: 120%;
    height: auto;
    transition: all 0.5s ease-in-out;
}

footer{
      background-color: gray;
      height: 16vh;
      margin-top: 150px;
      box-shadow: 2px 2px 3px;
  }
  
  .footer-text{
      padding: 12px;
      display: grid;
      justify-content: center;
      color: white;
      text-align: center;
  }

  address{
    background-color: #575757;
    padding: 10px;
    border-radius: 8px;
    margin-top: 3%;
  }

.social-img{
    display: grid;
    align-items: center;
    justify-content: start;
    padding: 40px;
    margin-top: 250px;
    gap: 60px;
}

.social-text{
    justify-content: center;
    width: 50vw;
    text-align: center;
    margin-top: 30px;
    background-color: #757575;
    color: white;
    border-radius: 12px;
    padding: 12px;
    margin: auto;
    margin-bottom: -200px;
}

.img-txt{
    font-size: 22px;
    font-weight: 650;
    color: black;
    border-radius: 8px;
    padding: 7px;
    width: 47vw; 
    margin-left: 2vw;
    text-align: center;
    border: solid #6d6d6d;
}

.social-text-2{
    text-align: center;
    width: 70vw;
    margin: auto;
    margin-top: 30px;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding: 4px;
    border-radius: 3px;
}

.contact-link{ 
    color: white;
    background: #b8b8b8;
    background: radial-gradient(circle,rgb(145, 145, 145) 0%, rgba(110, 110, 110, 1) 49%, rgb(94, 94, 94) 100%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    width: 9vw;
    margin: auto;
    margin-top: 20px;
    padding: 8px;
    border: solid black 1px;
    text-decoration: none;
}