body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    justify-content: space-between;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    padding-top: 60px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

#sidebar.active {
    left: 0;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 92vh;
    display: flex;
    flex-direction: column;
}

#sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #444;
}

.menu-btn {
    padding: 2px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
}

.sidebar-link{
    color: white;
    text-decoration: none;
}

.final{
    margin-top: auto;
    border-top:solid #444 1px;
}

.navbar{
    background-color: rgb(97, 97, 97);
    position: sticky;
    top: 0;
    filter: drop-shadow(2px 3px 3px);
}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    border: solid #444;
    border-radius: 8px;
    padding: 4px;
    background-color: #333;
    color: white;
}

.nav-content{
    padding: 2px;
}

.logo{
    width: 50px;
    border: solid #333 2px;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
}